.rth-container, .rth-container * {
  box-sizing: border-box;
  border: none;
}
/* TODO: insert default styles of your component here for easy access */
.rth-container {
  position: relative;
  height: 100px;
  background-color: white;
}
.rth-container textarea {
  width: 100%;
  height: 100%;
  resize: none;
  word-spacing: normal;
  background-color: transparent;
}
.rth-overlay {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.rth-overlay * {
  margin: 0;
  padding: 0;
}

.rth-overlay-text {
  color: transparent;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
}
