.keyword {
  background-color: blue;
}
.column {
  background-color: yellow;
}
.language-highlight .rth-content mark {
  position: relative;
}
.language-highlight .rth-content {
  padding: 4px;
  line-height: 24px;
}

.language-highlight .rth-content {
  word-spacing: 4px;
}

/* unfortunately safari has some issues with this */
/* Safari 9.0+ (http://stackoverflow.com/a/25975282/1976857) */
_::-webkit-:not(:root:root), .rth-backdrop .rth-content {
  /* 5/8 * word-spacing from .rth-content */
  word-spacing: 2.5px;
}

.language-highlight .rth-content mark:after {
  content: '';
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  background: inherit;
  border-radius: 5px;
  top: -2.5px;
  position: absolute;
  left: -2.5px;
}
.language-highlight .rth-content mark {
  opacity: 0.5;
}
