.github-corner svg {
    z-index: 1000;
}

.container {
  overflow: scroll;
  margin: 20px auto;
}

.container .rth-container {
  border: 1px solid gray;
}
/* TODO: insert main styles of your demo here */
.rth-container {
  max-width: 500px;
  margin: 0 auto;
}
